*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./rsc/beach2.jpeg);
    height: 100vh;
    margin: 20px;
}

#a_link{
    font-family: monospace;
    font-weight: bold;
}

#content_div{
    margin: 20px 20px;
}

#h1_txt{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(143, 104, 4);
}
#h2_txt{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    color: rgb(108, 106, 106);
}

#h3_txt{
    font-family: ethnocentric;
    margin-top: 5px;
}

.para{
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    width: 300px;
    height: 200px;
    border: 5px solid gray;
    border-bottom-left-radius: 20px;
    border-top-right-radius:20px;

}